* {
  padding: 0;
  margin-bottom: 0;
  box-sizing: 0;
  background-color: azure;
}

header {
  padding-top: 80px;
  text-align: center;

}
header h1{
  font-size: 39px;
}

form {
  padding: 30px 0;
  text-align: center;
}

form label {
  font-size: 24px;
  font-weight: bold;
}

form button {
  margin-left: 10px;
  border-radius: 50px;
  padding: 10px;
  background-color: rgb(8, 144, 8);
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(174, 232, 174);
}

form input {
  margin-left: 10px;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

.container {
  text-align: center;
}

.container h2 {
  color: rgb(139, 38, 38);
  text-decoration: underline;
}

.container li h3 {
  font-size: 24px;
  color: blue;
}

#taref {
  font-size: 22px;
  font-weight: bold;
  color: rgb(28, 58, 168);
}

#taref:hover {
  cursor: pointer;
}

.risco {
  text-decoration: line-through;
  font-style: italic;
}
